<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>RPG Manager Signup</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/rpgmanagerstyle.css}" />
        <style>body{background-color: #0f3131; color: white; font-size: 150%}</style>
    </head>
    <body>
    	<h3>Sign Up</h3>
        <div class="col-md-4">
		<form th:object="${newuser}" th:action="@{saveuser}" action="#" method="post">
			<div>
				<label> Username :<input type="text" th:field="*{username}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div>
				<label> E-mail :<input type="text" th:field="*{email}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>	
			</div>
			<div>
				<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-enter Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			<input type="submit" class="btn-save" value="Sign Up"></input>
			<a href="/login" style="font-size: 70%" class="btn-delete col-sm-2">Return</a>		
		</form>
	</div>
    </body>
</html>